html {
  font-family: sans-serif;
  line-height: 1.15;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1a1a1a;
  text-align: left;
  height: 100%;
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#map {
  flex: 1;
  background: #f0f0f0;
}

.info {
  padding: 1rem;
  margin: 0;
}

.info.error {
  color: #fff;
  background: #dc3545;
}

.curLoc {
  width: 20%;
  height: 30px;
  color: #fff;
  background: darkblue;
}
.d_data {
  width: 90vw !important;
}

.obs {
  margin: auto !important;
}
div {
  display: flexbox !important;
}
.cbg {
  background-color: transparent !important;
}

@media screen and (max-width: 1025px) {
}

.butt {
  font-family: palatino;
  font-size: 12pt;
}

.inp {
  width: 250px;
  height: 30px;
  padding: 3px;
  border: 1px solid #dde1e4;
}

.sel {
  width: 258px;
  position: relative;
  left: -17px;
  margin: 0;
  border: 1px solid #dde1e4;
  border-top: none;
  font-size: 9pt;
}

.dl {
  display: none;
  z-index: 99;
}

.sel option {
  padding: 3px;
}

option:hover {
  background-color: #11e8ea;
}

butt {
  width: 30px;
  height: 38px;
  position: relative;
  left: -5px;
  border: 1px solid #dde1e4;
  border-left: none;
  background-color: #11e8ea;
  cursor: pointer;
}

h3,
h4 {
  text-align: center;
}

/* to hide datalist arrow in webkit */
.loc {
  display: block;
  position: fixed;
  bottom: 38vh;
  right: 20px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.493);
  color: white;
  cursor: pointer;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.marker {
  color: rgb(26, 26, 26);
}
